* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  text-align: center;
}

body {
  background: rgba(11, 11, 16, 1) 100%;
  color: #fff;
}

#title-wrapper {
  background-color: #131313;
  left: 0;
  text-align: center;
  position: fixed;
  top: 0;
  width: 100%;
}

#head-logo {
  height: 60px;
  top: 0px;
  margin: 0px;
  vertical-align: middle;
}

#title-wrapper h2 {
  padding: 0;
  margin: 0;
  display: inline-block;
}

body.main-body {
  color: #fff;
  transition: all 0.3s ease-in-out;
}

.title {
  display: inline-block;
  vertical-align: middle;
}

img.applogo {
  display: block;
  height: 80px;
  margin: 0 auto;
  margin-top: 20px;
}

img.appimage {
  display: inline-block;
  margin-top: 40px;
  width: 60%;
  max-width: 480px;
  transition: all 0.3s ease-in-out;
  margin-bottom: 40px;
}

main.tagwrapper {
  margin: 0 auto !important;
}

h1.tagline {
  margin-top: 10px;
}

p.caption {
  margin-top: 10px;
  display: inline-block;
  max-width: 80%;
  word-wrap: normal;
  margin-bottom: 20px;
}

a.playstore,
a.appstore {
  display: inline-block;
}

div.dlwrapper {
  display: block;
  margin-left: auto !important;
  margin-right: auto !important;
}

div#footer {
  font-size: 0.8rem;
  text-align: center;
  margin-top: 80px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 100px;
  padding-bottom: 50px;
  color: #e2e2e2;
}

div#footer a {
  text-decoration: none;
  color: #dd0c11;
}

div.message {
  display: block;
}

@media only screen and (min-width: 768px) {
  img.appimage {
    display: inline-block;
    vertical-align: middle;
    transition: all 0.3s ease-in-out;
  }

  main.tagwrapper {
    margin: 0 auto;
    margin-top: 120px;
    margin-bottom: 50px;
  }

  div.taglines {
    display: inline-block;
    margin-top: 60px;
    margin-left: 20px;
    vertical-align: bottom;
  }

  h1.tagline,
  h1.sub-tagline,
  p.caption {
    text-align: left;
  }

  p.caption {
    display: block;
    max-width: 440px;
  }

  div.dlwrapper {
    display: block;
    width: 540px !important;
    margin: 0 auto;
    text-align: left;
    margin-bottom: 80px;
  }
}
